In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'B3SA3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open    Volume
Ticker       B3SA3.SA   B3SA3.SA   B3SA3.SA   B3SA3.SA  B3SA3.SA
Date
2020-01-02  12.400522  12.400522  11.869975  11.869975  59905800
2020-01-03  12.043160  12.318055  12.018419  12.219092  42734400
2020-01-06  11.927706  12.337300  11.842488  12.004676  60060900
2020-01-07  12.312558  12.329051  11.955194  11.982683  44786100
2020-01-08  12.279572  12.469249  12.177860  12.301562  40292100
2020-01-09  12.274076  12.675424  12.210850  12.287821  56515800
2020-01-10  12.177860  12.425265  12.001927  12.290567  45523500
2020-01-13  12.191605  12.326303  12.133877  12.326303  32348100
2020-01-14  12.274076  12.334553  12.161369  12.197106  31897800
2020-01-15  11.944199  12.290567  11.806751  12.205350  62392200

In [11]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open     Volume
Ticker       B3SA3.SA   B3SA3.SA   B3SA3.SA   B3SA3.SA   B3SA3.SA
Date
2024-12-13  10.168176  10.416908  10.118429  10.198023  149204900
2024-12-16  10.068683  10.446756  10.048785  10.237821   89670800
2024-12-17  10.068683  10.237821   9.949291  10.068683   67956300
2024-12-18   9.810001  10.008988   9.740357   9.959241   83174900
2024-12-19   9.929392  10.058733   9.750305   9.819950   58258000
2024-12-20  10.217922  10.307465   9.889595   9.929392   63902800
2024-12-23  10.207973  10.307466  10.088582  10.108480   37011700
2024-12-26  10.277617  10.347262  10.108479  10.138327   30737700
2024-12-27  10.307466  10.446756  10.287567  10.347263   44639700
2024-12-30  10.267669  10.347263  10.168176  10.297517   38408700

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'B3SA3.SA'),
            (  'High', 'B3SA3.SA'),
            (   'Low', 'B3SA3.SA'),
            (  'Open', 'B3SA3.SA'),
            ('Volume', 'B3SA3.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, B3SA3.SA)   1244 non-null   float64
 1   (High, B3SA3.SA)    1244 non-null   float64
 2   (Low, B3SA3.SA)     1244 non-null   float64
 3   (Open, B3SA3.SA)    1244 non-null   float64
 4   (Volume, B3SA3.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price         Close         High          Low         Open        Volume
Ticker     B3SA3.SA     B3SA3.SA     B3SA3.SA     B3SA3.SA      B3SA3.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      12.715541    12.936346    12.497775    12.714849  4.295412e+07
std        2.087364     2.106010     2.061271     2.088686  2.122542e+07
min        8.370563     9.044054     8.043435     8.659201  0.000000e+00
25%       10.989707    11.195532    10.791452    10.993871  2.928472e+07
50%       12.306558    12.499878    12.084020    12.297667  3.830250e+07
75%       14.064050    14.258135    13.882700    14.065906  5.119865e+07
max       18.731028    19.384117    18.211343    18.939462  2.763696e+08