In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'ELET3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open   Volume
Ticker       ELET3.SA   ELET3.SA   ELET3.SA   ELET3.SA ELET3.SA
Date
2020-01-02  31.342485  31.432786  30.661126  31.112631  4116400
2020-01-03  30.866358  31.005915  30.513365  30.948451  3407300
2020-01-06  31.014124  31.342491  30.209629  30.677549  3541700
2020-01-07  31.810406  31.892496  30.546198  30.882772  4981700
2020-01-08  32.270115  32.417880  31.358900  31.769357  5277300
2020-01-09  32.302956  32.606696  32.081312  32.270121  4357400
2020-01-10  32.918640  33.164917  32.146982  32.261910  5752200
2020-01-13  33.000732  33.329096  32.713411  32.918639  3047700
2020-01-14  32.426094  33.164918  31.358907  32.877596  6804100
2020-01-15  32.278324  32.639525  32.048469  32.426089  3868700

In [11]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open    Volume
Ticker       ELET3.SA   ELET3.SA   ELET3.SA   ELET3.SA  ELET3.SA
Date
2024-12-13  33.918724  34.300908  33.804070  34.109816   7797200
2024-12-16  33.460102  34.472888  33.460102  33.928274   8015600
2024-12-17  33.593864  34.081146  33.221237  33.651193  12085500
2024-12-18  32.934601  33.746738  32.676627  33.326338  17877200
2024-12-19  33.278568  33.555648  32.733954  32.963266   9585900
2024-12-20  33.660748  33.956940  33.355002  33.861393  16048900
2024-12-23  33.202126  33.612972  33.087472  33.536534   6615800
2024-12-26  33.402775  33.727630  33.154358  33.249902   5387300
2024-12-27  33.440994  33.784959  33.364556  33.546095   7961400
2024-12-30  33.434109  33.541866  32.914913  33.218593   6821300

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'ELET3.SA'),
            (  'High', 'ELET3.SA'),
            (   'Low', 'ELET3.SA'),
            (  'Open', 'ELET3.SA'),
            ('Volume', 'ELET3.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, ELET3.SA)   1244 non-null   float64
 1   (High, ELET3.SA)    1244 non-null   float64
 2   (Low, ELET3.SA)     1244 non-null   float64
 3   (Open, ELET3.SA)    1244 non-null   float64
 4   (Volume, ELET3.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price         Close         High          Low         Open        Volume
Ticker     ELET3.SA     ELET3.SA     ELET3.SA     ELET3.SA      ELET3.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      34.336369    34.919288    33.775277    34.372213  8.123941e+06
std        5.811688     5.776590     5.838704     5.809966  6.790822e+06
min       12.510725    13.980161    12.149523    13.545077  0.000000e+00
25%       31.078397    31.628315    30.417157    31.058619  4.579450e+06
50%       34.363375    34.890682    33.929094    34.461301  6.530450e+06
75%       38.813225    39.391346    38.363521    38.880366  9.507275e+06
max       48.429707    49.293686    47.762942    48.176154  1.164866e+08