In [ ]:
%pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'ABEV3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

In [2]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open    Volume
Ticker       ABEV3.SA   ABEV3.SA   ABEV3.SA   ABEV3.SA  ABEV3.SA
Date
2020-01-02  15.881497  15.922855  15.534090  15.600262  16011300
2020-01-03  15.658162  15.848409  15.625075  15.674706  20059000
2020-01-06  15.732608  15.856682  15.459645  15.600262  14644300
2020-01-07  15.765694  15.906311  15.600262  15.757422  18036600
2020-01-08  15.691250  15.848411  15.600263  15.790510  14051700
2020-01-09  15.567175  15.782237  15.310755  15.716064  21199500
2020-01-10  15.625077  15.749153  15.525819  15.567176  11697800
2020-01-13  15.889765  16.005568  15.641617  15.658161  19314500
2020-01-14  15.798781  16.195818  15.699521  15.881498  21324400
2020-01-15  15.517546  15.716064  15.517546  15.716064  17408600

In [3]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open    Volume
Ticker       ABEV3.SA   ABEV3.SA   ABEV3.SA   ABEV3.SA  ABEV3.SA
Date
2024-12-13  12.842540  13.117456  12.773811  12.862177  30867900
2024-12-16  12.606897  13.176368  12.606897  12.842540  32095500
2024-12-17  12.862177  12.950542  12.754173  12.763992  39564500
2024-12-18  12.528350  12.842540  12.518531  12.832721  40864200
2024-12-19  12.547986  12.675626  12.410528  12.528350  38104000
2024-12-20  12.007971  12.076701  11.791965  11.860694  86074600
2024-12-23  11.998154  12.115975  11.772329  11.890150  40181700
2024-12-26  11.919605  12.017789  11.772328  11.958879  21166800
2024-12-27  11.850876  11.968697  11.752692  11.939242  37624000
2024-12-30  11.526866  11.939241  11.526866  11.841057  38907400

In [11]:
df.shape # Quantidade de linhas e colunas

(0, 6)

In [12]:
df.columns # Nome das colunas

MultiIndex([('Adj Close', 'ABEV3.SA'),
            (    'Close', 'ABEV3.SA'),
            (     'High', 'ABEV3.SA'),
            (      'Low', 'ABEV3.SA'),
            (     'Open', 'ABEV3.SA'),
            (   'Volume', 'ABEV3.SA')],
           names=['Price', 'Ticker'])

In [13]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, ABEV3.SA)  0 non-null      float64
 1   (Close, ABEV3.SA)      0 non-null      float64
 2   (High, ABEV3.SA)       0 non-null      float64
 3   (Low, ABEV3.SA)        0 non-null      float64
 4   (Open, ABEV3.SA)       0 non-null      float64
 5   (Volume, ABEV3.SA)     0 non-null      float64
dtypes: float64(6)
memory usage: 0.0 bytes

In [14]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price  Adj Close    Close     High      Low     Open   Volume
Ticker  ABEV3.SA ABEV3.SA ABEV3.SA ABEV3.SA ABEV3.SA ABEV3.SA
count        0.0      0.0      0.0      0.0      0.0      0.0
mean         NaN      NaN      NaN      NaN      NaN      NaN
std          NaN      NaN      NaN      NaN      NaN      NaN
min          NaN      NaN      NaN      NaN      NaN      NaN
25%          NaN      NaN      NaN      NaN      NaN      NaN
50%          NaN      NaN      NaN      NaN      NaN      NaN
75%          NaN      NaN      NaN      NaN      NaN      NaN
max          NaN      NaN      NaN      NaN      NaN      NaN